appnope==0.1.0
decorator==4.0.9
dominate==2.1.17
Flask==0.10.1
Flask-Script==2.0.5
gnureadline==6.3.3
httpie==0.9.3
ipython==4.1.1
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psutil==4.0.0
ptyprocess==0.5.1
Pygments==2.1.2
requests==2.9.1
simplegeneric==0.8.1
traitlets==4.1.0
visitor==0.1.2
Werkzeug==0.11.4
