{% extends "base.html" %}

{% block title %}MEL: Overview{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
       Marathon Event Listener Overview 
    </h1>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Registered Endpoints</div>
            <div class="panel-body">
                <table class="table" id="marathon_endpoints">
                    <tr>
                        <th>URL</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>http://www.foo.com:8080/v2/apps</td>
                        <td><span class="label label-success">Up</span></td>
                    </tr>
                </table>
            </div><!-- panel body -->
        </div> <!-- end of "registered endpoints" panel -->
    </div><!-- left panel -->

    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Registered Callbacks</div>
            <div class="panel-body">
                <table class="table" id="marathon_callbacks">
                    <tr>
                        <th>URL</th>
                    </tr>
                    <tr>
                        <td>http://www.foo.com:8080/v2/apps</td>
                    </tr>
                </table>
            </div><!-- panel body -->
        </div> <!-- end of "marathon endpoints" panel -->

    </div><!-- right panel -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Marathon Events</div>
            <div class="panel-body text-center" id="event_panel">
                <button class="btn btn-primary" type="button">
                    Events Processed <span calss="badge">203</span>
                </button>
                <button class="btn btn-primary"  type="button">
                    Reactions <span calss="badge">3</span>
                </button>
                <button class="btn btn-primary" type="button">
                    Buffer Size <span calss="badge">1024</span>
                </button>
                <button class="btn btn-primary" type="button">
                    Events Buffered <span calss="badge">1024</span>
                </button>
            </div><!-- panel body -->

            <table class="table table-hover" id="marathon_events">
                <tr>
                    <th>Timestamp</th>
                    <th>Event ID</th>
                    <th>Marathon Host</th>
                    <th>Event Type</th>
                    <th>Processed</th>
                    <th>View Event</th>
                </tr>
            </table>
        </div><!-- end of "event table" panel -->

        <!-- event modal div -->
        <div id="event_id_modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">[&times;]</button>
                        <h4 class="modal-title">Event JSON</h4>
                    </div>
                    <div class="modal-body">
                        <pre>Error getting event</pre>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script>

    function buildRow(event) {
      elem = [];
      elem.push('<tr>');
      elem.push('<td>');
      elem.push(moment.utc(event.timestamp).fromNow());
      elem.push('</td>');
      elem.push('<td>' + event.id + '</td>');
      elem.push('<td>');
      elem.push('<a href="http://' + event.marathon_host + '">');
      elem.push(event.marathon_host);
      elem.push('</td>');
      elem.push('<td>' + event.eventType + '</td>');
      elem.push('<td>');
      if (event.processed) {
        elem.push('<span class="label label-success">Processed</span>');
      } else {
        elem.push('<span class="label label-danger">Queued</span>');
      }
      elem.push('</td>');
      elem.push('<td><button data-url="' + event.url + '" type="button" class="bt btn-primary btn-xs view-event" data-toggle="modal" data-target="#event_id_modal">View Event</button></td>');
      elem.push('</tr>');

      return elem;
    }


    // get the event data for the passed URL and update the modal 
    function update_event_modal(url, modal) {
      $.getJSON(url, function(data) { 
        console.log("returned object for event " + url );
        console.log(data);
        modal.find('.modal-title').text("Event: " + data.id);
        modal.find('pre').text(JSON.stringify(data, null, 2));
      });
    }

    $('document').ready(function() {
      // update navbar to reflect the current page
      $('div#navbar li#overview').addClass('active');

      var events;
      $.getJSON("{{ url_for('api.get_events') }}", function(data) {
        var rows = [];
        console.log("returned events/ objects");
        console.log(data);
        events = data;
        $.each(data['events'], function(i, event) {
          $("#marathon_events tbody").append(buildRow(event).join(""));
        });
      });

      $('#event_id_modal').on('show.bs.modal', function(event) {
        var button = $(event.relatedTarget); //button that triggered this event
        var url = button.data('url');
        var modal = $(this);
        update_event_modal(url, modal);
      });

    });
</script>

{% endblock %}
